
<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <span class="display-4" id="home">This is Egypt</span>
    <br>
    <div id="aim">Aim:</div><br>
    <p class="lead">The aim of this website is to inform visitors more about tourism in Egypt.
      The Cities tab will inform you more about Egyptian cities,
      the weather tab will display the weather at certain Egyptian areas.
      Finally Tech ideas tab will display a form which the user might fill
      if they have a technical idean to improve tourism in Egypt.
    </p>
  </div>
  <br>
  <img class="images" [src]="pyramidsurl"/>
</div>

</div>

<router-outlet></router-outlet>


